body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

div.safe-area {
    position: sticky;
    top: 0px;
    z-index: 2;
}

div.h-safe-area-inset-top {
    height: env(safe-area-inset-top);
    background-color: #00000044;
}

div#map {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

div.footer {
    display: flex;
    z-index: 2;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #00000077;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* set the container width*/
    overflow: visible;
    font-size: small;
}

dl dt {
    flex: 0 0 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    margin-right: 4px;
    color: #CCC;
}

dl dd {
    flex: 0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

input#camera {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 4px;
}

input#camera:disabled {
    filter: opacity(0.50);
}